<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:nf3kunde="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rediger Kunde - Bauhaus</title>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="stylesheet" type="text/css" href="BauCSS.css">
</head>
<body>
<img src="Bauhaus_Logo.png" height="50" width="200">

<h1 id="title-rediger">
    <b>Rediger Kunde</b>
</h1>

<div id="table_redigerOversigt">

    <table class="center">
        <thead>
        <tr>
            <th>Kørekortnr</th>
            <th>Kørekort Udløb</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Fødselsdato</th>
            <th>TelefonNr</th>
            <th>Postnummer</th>
            <th>By</th>
            <th>Adresse</th>
            <th>Kunde oprettet d.</th>
            <th>Blacklist</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="nf3kunde: ${kunder}">
            <td th:text="${nf3kunde.korekortnr}"/>
            <td th:text="${nf3kunde.korekortudlob}"/>
            <td th:text="${nf3kunde.fornavn}"/>
            <td th:text="${nf3kunde.efternavn}"/>
            <td th:text="${nf3kunde.fodselsdato}"/>
            <td th:text="${nf3kunde.telefonnr}"/>
            <td th:text="${nf3kunde.postnummer}"/>
            <td th:text="${nf3kunde.bynavn}"/>
            <td th:text="${nf3kunde.adresse}"/>
            <td th:text="${nf3kunde.datoOprettet}"/>
            <td th:text="${nf3kunde.blacklist}"/>
            <td>
                <a th:href="@{'/rediger/'+${nf3kunde.korekortnr}}">
                    <button class="btn-rediger-valgt-kunde">Rediger Kunde</button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>